





html{
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body{
  padding:0px;
  /*brown*/
  /*background-color:#998d69;*/
  /*green*/
  /*background-color: #868325;*/
  /*background-color: skyblue;*/
  /*burnt sienna*/
  /*background-color: #673b0e;*/
  /*muted blue*/
  background-color: black;
}
.intro{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: black;
  opacity:.5;
  z-index: 2;
}
.intro-text{
  position: absolute;
  padding:10px;
  top:25vh;
  left:15vw;
  width:70%;
  height:60%;
  background-color: lightgray;
  z-index: 2;
}
.body{
  background-color: #2c4f6d;
}
.gig-cover h1,.gig-cover h3{
  margin-top: 0px;
}
.set h3{
  margin-top:.75em;
  color: #909aa2;
}
textarea, input{
  background-color: #dcdcdc !important;
}
header{
/*light brown */
  /*background-color: #98611d;*/
/*dark brown */
/*background-color: #502303;*/
/*dark blue*/
  height:100px;
  padding: 0px 25px;
}
header{
  background-color:#14274a;
}
.usertab{
  height:5vh;
}
.user_comments{
  height:40vh;
  width:50%;
  background-color: grey;
  color:black;
  padding:.5em;
  overflow: scroll;
}
.user-tab-comment{
  display:inline-block;
  margin-right:1em;
}
.usertab .username{
  font-size:1em;
  color:lightgrey;
  margin-left:.5em;
}
.usertab img{
  height:75%;
}
.user_chat_input{
  display:inline-block;
  width:25%;
  margin-right:1em;
}
.click-meter{
  font-size: .3em;
}
.file-drop{
  width:100%;
  height:4em;
  background-color: white;
}
.landing_header{
  background-image: url(http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/c_scale,w_1161/v1491269134/pexels-photo-196652_hgmrkg.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
}

.landing_overlay{
  padding:0em 2em;
  z-index: 3;
}
.landing_background{
  background-color: gray;
  opacity: .55;
  z-index: 2;
}
.landing_header,.landing_background,.landing_overlay{
  height:90vh;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
.landing_header_txt{
  color:white;
  text-align: center;
  font-size: 2em;
  height:65vh;
  margin-top:25vh;
}
.landing_header_txt p{
  padding:0% 25%;
  color:#fdfdf6;
  font-size: .6em;
}
.landing_text{
  font-size:1.5em;
  margin-top:80vh;
  color:#afafa8;
  margin-bottom:1.5em;
}
.songmodal, .song-update-form{
  min-height: 100vh !important;
  padding:2em;
}
.songmodal_pic{
  height:4em;
}
.genre-edit{
  position:fixed;
  top:0;
  left:25%;
  padding-top:25vh;
  width:100%;
  height:100vh;
  z-index: 1;
}
.genre-modal{
  width: 50%;
  height:50vh;
  background-color: #1c1c1d;
  padding:2em;
  z-index: 2;
}
.landing_content{
  height:165vh;
  background-color:#243444;
}
.landing_content .row{
  text-align: center;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*.wrapper{
  border-left:5px solid #f5ffbd;
  border-right:5px solid #f5ffbd;

}*/
.title{
  font-size: 3em;
  color:lightgray;
  display:flex;
  justify-content: space-between;
}
.landing_title{
  font-size: 3em;
  color:white;
  display:flex;
  justify-content: space-between;
}
.active a{
  color: tomato;
}
.user-pic{
  height:40px;
  margin-top:auto;
}
.main_nav a:hover{
  color:#633f12;
}
.main_nav{
  float: right;
}
.main_nav a{
  color:#ffd29b;
  text-decoration: none;
}
.main_nav li{
  font-size: 1.5em;
  display: inline-block;
  margin-right: 15px;
  float:right;
}
.container{
}
.set_list, .gig-form, .gig-display{
  background-color: #1c1c1d;
  color:#9a5601;
  height:85vh;
}
.song-form{
  background-color: #1c1c1d;
  color:#9a5601;
  height:100vh;
}
.song-edit-form textarea{
  height:100%;
  width:100%;
}
.song-show{
  background-color: #1c1c1d;
  border-radius: 15px;
  color:#9a5601;
  min-height:120vh !important;
  white-space: pre-wrap;
}
.song{
  padding-top:1.5em;
}

.song-del-button{
  position:absolute;
  top:0;
  right:0;
  margin-top:.25em;
  padding-right:.5em;
  z-index: 2;
}
.song_edit_btn, .songs-edit-btn{
  background-color:grey;
  margin-right:10px;
  color:black;
}
.song-edit-form{
  height: 45vh;
}
.song-edit-form *{
  margin-bottom:1em;
}
.song-btn-row{
  display:flex;
  justify-content: space-between;
}

.editbutton{
  position:absolute;
  width: 100%;
  text-align: center;
  z-index: 3;
}
.songs-edit-btn{
  /*top:20vh;*/
  /*right:45%;*/
  z-index: 3;
}
.edit-veil{
  position:fixed;
  top:0;
  left:0;
  background-color: black;
  opacity:.3;
  width:100%;
  height:110%;
  z-index: 2;
}
/*.song-edit-text{
  height:90% !important;
  width:100% !important;
}*/
.song-close{
  margin-top:1.5em;
}
.set_list{
  font-size: 1.25em;
  overflow: scroll;
  padding-top:1em;
}
.set_list h1{
  color:#909aa2;
}
.set a{
  text-decoration: none;
  color:#cc8842;
}
.set a:hover{
  color:#633f12;
}
.time-entry{
  display:block;
}
.time-entry *{
  float:left;
  display:inline-block;
  max-width:40px;
}
.song-form, .gig-form{
  padding:15px;
}
.gig-display{
  font-size: 1.15em;
  padding-top:1.5em;
  overflow: scroll;
}
.gig-display a{
  text-decoration: none;
  color:#9a5601;
}
.gig-view{
  padding-top:1em;
}
.gig-info{
  margin-top:1em;
}
.gig-preview-title{
  font-size: 2em;
}
.gig-preview-header{
  display:flex;
  justify-content: space-between;
  margin:0em 3em;
}
.gig-est-time{
  margin-top:1em;
}
.gig-del{
  height:1.15em;
  text-align: center;
  color:black;
  width:1em;
  background-color: red;
  border-radius: 45px;
}
.fa-minus-circle{
  color:tomato;
  margin-right:1em;
}
.gig-display a:hover, .fa-minus-circle:hover{
  color:#633f12;
}
.gig-item-contain{
  display:flex;
  justify-content: space-between;
  z-index: 3;
}
.gig-item{
  display:inline-block;
  margin-right:2em;
}

.gig-form-container{
  margin-left:0px;
}
.form-container{
  max-width: 600px;
}
.form-group{
  margin-bottom:5px;
}
.buttons{
  margin:.75em 0em;
}
.buttons button,.submit-buttons button{
  margin-right:1em;
  margin-bottom:.5em;
}
.submit-buttons button{
}
.google{
  background-color: red;
}
.gig-form-container{
  padding-left: 0px;
  padding-right:0px;
}
.gig-form{
  margin-left:0px;
}
.gig-form h2{
  margin-top: 0px;
}
.gig-preview{
  background-image:url(http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/c_scale,w_1161/v1491269134/pexels-photo-196652_hgmrkg.jpg);
  background-size:cover;
  background-position: center;
  height:85vh;
  padding-left: 0px;
  color:lightgrey;
  z-index: 2;
  overflow: scroll;
}
.gig-preview h2, .gig-preview h3, .gig-preview li, .gig-preview h1,.gig-preview p{
  margin-left:1em;
}

.gig-cover{
  position:absolute;
  top:0px;
  width:101%;
  height:100%;
  background-color:black;
  opacity:.7;
  z-index: -1;
}
.gig-buttons{
  padding-top: 2em;
}
.gig-preview h1{
  margin-top:.5em;
}
.gig-button-cover{
  position:absolute;
  width:101%;
  min-height:100vh;
  background-color:black;
  opacity:.7;
  z-index: -1;
}

/*.gig-display{
  min-height: 85vh;
}*/
.add-genres{
  display:flex;
  justify-content: space-between;
}
.form-group label{
  padding-top:10px;
}
.song-form input,.song-form .btn, .song-form label{
  margin:5px;
}
.time-enter{
  color:#555;
}
.submitModal{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:120vh;
  background-color: black;
  opacity:.5;
  color:white;
  text-align: center;
  line-height: 100vh;
  font-size: 5em;
  z-index: 2;
}
.song_area{
  min-height:85vh;
}
.song_scroll{
  float:left;
  width:80%;
  padding:0px;
  overflow:scroll;
  height:85vh;
}
.scroll_area{
  width:10%;
  height:100%;
  float:right;
  text-align: center;
}
.scroll_bar{
  /*float:right;*/
  margin-top: 25vh;
  padding:5px 0px;
  width:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bdbcbb;
  /*background-color: #92aac5;*/
  text-align: center;
  /*height: 33vh;*/
  border-radius: 45px;
}
.scroll_bar a{
  text-decoration: none;
    color:#bdbcbb;
}
.scroll_bar:hover{
  background-color: #ef9930;
}
.scroll_bar a:hover{
  color: #ef9930;
}
.gig-buttons{
  text-align: center;
}
.gig-buttons button{
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom:1em;
}
.gigtime{
  text-align: center;
}
.song-titlebar{
  text-align: center;
}
.song{
  text-align: center;
  min-height:85vh;
  line-height: 1.5em;
  white-space: pre-wrap;
}
.songs-view{
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:10vh;
}

.song-icon{
  padding-bottom:0em;
}
.song-box{
  color: #9a5601;
  border-radius: 10px;
  background-color:#1c1c1d;
  max-height: 15vh;
  margin-right:.15em;
  margin-left:.15em;
  margin-bottom:1em;
  padding-bottom:8em;
  padding-top:1em;
}
.song-img{
  max-height:75%;
}
.song-btn{
  margin-left:1em;
}
.song-img img{
  width:100%;
}
.song-top{
  line-height: .25em !important;
}
.song-pg{
  margin-top:2em;
}

footer{
  height: 5vh;
  position:fixed;
  width:100%;
  z-index: 3;
  bottom:0px;
  padding: 0px 25px;
}

/*@media(max-width:768px){
  .gig-form{
    margin:0em 2em;
  }
}*/

.landed_content{
  background-color: lightgray;
}
.gigmodal{
  display: none;
}

@media(max-width:765px){
  header{
    height:100px;
  }
  .main_nav li{
    font-size: 1em;
    display: inline-block;
    margin-right: 15px;
    float:right;
  }
  .song_area{
    display:none;
  }
  .user_chat_input{
    width:50%;
  }
  .user_comments{
    width:100%;
  }
  .gig-cover{
    position:absolute;
    top:0px;
    height:100%;
  }
  .song-show{
    display:block;
    position:absolute;
    min-height:200vh !important;
    top:0;
    left:0;
    width:100%;
  }
  .song-info{
    font-size:.85em;
  }
  .songmodal{
    min-height: 200vh !important;
  }



  .gigmodal{
    display: block;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
  }
}
@media(max-width:525px){
  header{
    height:115px;
  }
}
