


html{

}
body{
  padding:0px;
  background-color:skyblue;
}
h1{
  margin-top: 0px;
}
header{
  background-color: #98611d;
  height:15vh;
  padding: 0px 25px;
}
.wrapper{
  border-left:35px solid #9cdef7;
  border-right:35px solid #9cdef7;

}
.title{
  font-size: 3em;
}
.main_nav{
  float: right;
}
.main_nav a{
  color:#ffd29b;
  text-decoration: none;
}
.main_nav li{
  font-size: 1.5em;
  display: inline-block;
  margin-right: 15px;
  float:right;
}
.container{
  background-color: lightgray;
}
.set_list, .song-form{
  background-color: #92aac5;
  min-height:85vh;
}
.song-form{
  padding:15px;
}
/*.form-group *{
  padding-bottom:10px;
}*/
.add-genres{
  display:flex;
  justify-content: space-between;
}
.form-group label{
  padding-top:10px;
}
.song-form input,.song-form .btn, .song-form label{
  margin:5px;
}
.song_area{
  min-height:85vh;
}
.song_scroll{
  float:left;
  width:85%;
  padding:0px;
  overflow:scroll;
  height:85vh;
}
.scroll_area{
  width:15%;
  height:100%;
  float:right;
  text-align: center;
}
.scroll_bar{
  color:#f9fbd8;
  float: right;
  margin-top: 25vh;
  padding:5px 0px;
  width:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b7a18e;
  text-align: center;
  height: 33vh;
  border-radius: 45px;
}

.song{
  text-align: center;
  min-height:85vh;
  line-height: 3.5em;
}

footer{
  height: 5vh;
}
